{# Kế thừa layout backend #}
{% extends "/trangAdmin/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Cập nhật Hình thức thanh toán
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Cập nhật Hình thức thanh toán
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmHinhThucThanhToan" id="frmHinhThucThanhToan" method="post" action="/php-project/aot-shop/trangAdmin/hinhThucThanhToan/sua.php?htttMa={{ hinhthucthanhtoancancapnhat.htttMa }}">
    <div class="form-group">
        <label for="httt_ma">Mã Hình thức thanh toán</label>
        <input type="text" class="form-control" id="httt_ma" name="httt_ma" placeholder="Mã Hình thức thanh toán" readonly value="{{ hinhthucthanhtoancancapnhat.htttMa }}">
        <small id="httt_maHelp" class="form-text text-muted">Mã Hình thức thanh toán không được hiệu chỉnh.</small>
    </div>
    <div class="form-group">
        <label for="httt_ten">Tên Hình thức thanh toán</label>
        <input type="text" class="form-control" id="httt_ten" name="httt_ten" placeholder="Tên Hình thức thanh toán" value="{{ hinhthucthanhtoancancapnhat.htttTen }}">
    </div>
    <button class="btn btn-primary" name="btnCapNhat">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}