<nav class="navbar navbar-expand-lg navbar-dark shadow" id="navbar">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
                <img src="/php-project/aot-shop/img/logo.jpg" width="40" height="40" alt="">
                <a class="navbar-brand" href="#">Attack On Titan Shop</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-lg btn-outline-danger " type="button">Đăng nhập</button>
    </form>
</nav> 