<div class="sidebar">
        <ul class="nav flex-column shadow">
            <li class="nav-item sidebar-item">
                <a class="nav-link active animated flipInX" href="/php-project/aot-shop/templates/trangAdmin/pages/dashboard.php">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-home fa-stack-1x"></i>
                        </span>
                    Bảng tin<span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item sidebar-item"> 
                <a class="nav-link animated bounceInLeft" href="/php-project/aot-shop/trangAdmin/loaiSanPham/index.php">
                    <span id="icon" class="fa-stack" style="vertical-align: top;">
                        <i class="far fa-circle fa-stack-2x"></i>
                        <i class="fas fa-grimace fa-stack-1x"></i>
                    </span>
                    Loại sản phẩm<span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item sidebar-item">
                <a class="nav-link animated bounceInLeft" href="/php-project/aot-shop/trangAdmin/NhaSanXuat/index.php">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-grimace fa-stack-1x"></i>
                        </span>
                    Nhà sản xuất<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a class="nav-link animated bounceInLeft" href="#">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-grimace fa-stack-1x"></i>
                        </span>
                    Khuyến mãi<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a class="nav-link animated bounceInLeft" href="#">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-grimace fa-stack-1x"></i>
                        </span>
                    Sản phẩm<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a class="nav-link animated bounceInLeft" href="#">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-grimace fa-stack-1x"></i>
                        </span>
                    Hình sản phẩm<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item sidebar-item">
                <a class="nav-link animated bounceInLeft" href="#">
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-grimace fa-stack-1x"></i>
                        </span>
                    Đơn đặt hàng<span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
</div>